<!doctype html>
<html>
    <body>
        <style>
          .error {
              color: red
              }
          .form {
              padding: 8px;
          }
        </style>
        <form class="form"   action = "/welcome.html" method = "post">
            <h2> Sign-up</h2>
            <label>Username
                <input type = "text" name = "username" minlength="3" maxlength="20" value ={username}/>
            </label>
            <p class="error">{{username_error}}</p>
            <br/>
            <label> Password
                <input type = "password" name = "password" minlength="3" maxlength="20" value ={pword}/>
            </label>
            <p class="error">{{password_error}}</p>
            <br/>
            <label>Verifiy Password
                <input type = "password" name = "v-password" minlength="3" maxlength="20" value ={vpword}/>
            </label>
            <p class="error">{{passwordvalidation_error}}</p>
            <br/>
            <label> Email (option)
                <input type = "email" name = "email" />
            </label>
            <p class="error">{{email_error}}</p>
            <br/>
            <input type ="submit" /> 
        </form>
    </body>
</html>