<!doctype html>
<html>
  <head>
  </head>  
    <body>
        <style>
          .error {
              color: red
                 }
          .form {
              padding: 8px;
                }
        </style>
        <form class="form" method="post">
            <h2> Sign-up</h2>
            <label>Username
                <input type = "text" name = "username" value ='{{username}}' />
            </label>
            <p class="error">{{username_error}}</p>
            <br/>
            <label> Password
                <input type = "password" name = "pword"  value ='{{pwrod}}' />
            </label>
            <p class="error">{{pword_error}}</p>
            <br/>
            <label>Verifiy Password
                <input type = "password" name = "vpword" value ='{{vpword}}' />
            </label>
            <p class="error">{{vpword_error}}</p>
            <br/>
            <label> Email (optional)
                <input type = "email" name = "email" value ='{{email}}' />
            </label>
            <p class="error">{{email_error}}</p>
            <br/>
            <input type ="submit" /> 
        </form>
    </body>
</html>