<!doctype html>
<html>
<head>
    <style>
       .error {color: red;}
    </style>
</head>
<body>
    <h1>User Signup</h1>
    <form method="post">
      <label>Username
        <input name="form_name" type="text" value={{form_name}}/>
      </label>
      <p class="error">{{form_name_error}}</p>
      <br/>
      <label>Password
          <input name="pass_word" type="password" value={{pass_word}}/>
      </label>
      <p class="error">{{pass_word_error}}</p>
      <br/>
      <label> Password Verification
          <input name="vp_word" type="password" value={{vp_word}}/>
      </label>
      <p class="error">{{vp_word_error}}</p>
      <br/>
      <label> Email(optional)
          <input name="useremail" type="text" value={{useremail}}/>
      </label>
      <p class="error">{{useremail_error}}</p>
      <br/>
      <input type="submit" value="Signup"/>
    </form>
 </body>
</html>